<div class="notes"><p>{{question.notes}}</p></div>
<div class="asker"><p>-{{question.author}}</p></div>

<div class="answers">
<h3>Answers</h3>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>

<button {{action 'delete' question}}>Delete</button>
