<div class="question-page">
  <h2>{{model.question}}</h2>

  {{question-detail question=model destroyQuestion="destroyQuestion"}}

  {{update-question question=model update="update"}}

  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
